<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>555365770942-gkv5f9ir2lkh6dga1vtm3n2vof3dv7vn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.555365770942-gkv5f9ir2lkh6dga1vtm3n2vof3dv7vn</string>
	<key>API_KEY</key>
	<string>AIzaSyCtXZ_iEdM88gn2MQQiakAlKuXBTMCuiuQ</string>
	<key>GCM_SENDER_ID</key>
	<string>555365770942</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.elamaranG.QuantumInnovation</string>
	<key>PROJECT_ID</key>
	<string>sign-3f244</string>
	<key>STORAGE_BUCKET</key>
	<string>sign-3f244.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:555365770942:ios:da7be3f2cf8b9abf7060ef</string>
</dict>
</plist>